[Unit]
Description=re_dms socket
PartOf=replication.target
StartLimitBurst=1

[Socket]
ListenFIFO={{ socket_path }}
SocketUser=re_dms
SocketGroup=re_dms
SocketMode=0600
RemoveOnStop=true