[Unit]
Description=replication services
Requires=re_dms.service pg_recvlogical.service re_dms.socket
After=re_dms.service pg_recvlogical.service re_dms.socket

[Install]
WantedBy=multi-user.target