PG__HOST=
PG__USER=
PG__PASSWORD=
PG__PORT=5439
PG__DBNAME=
PG__POOL__MAX_SIZE=25
PG__POOL__TIMEOUTS__WAIT__SECS=1000
PG__POOL__TIMEOUTS__WAIT__NANOS=0
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
SECONDS_UNTIL_WAL_SWITCH=600
MAX_BYTES_UNTIL_WAL_SWITCH=1000000000
OUTPUT_WAL_DIRECTORY=
SECONDS_UNTIL_END_OF_EXPONENTIAL_BACKOFF=600
RUST_LOG=info