# PG__* ENVS define connection details for the target db
PG__HOST=
PG__USER=
PG__PASSWORD=
PG__PORT=5439
PG__DBNAME=
PG__POOL__MAX_SIZE=25

PG__CONNECT_TIMEOUT__SECS=60
PG__CONNECT_TIMEOUT__NANOS=0
PG__POOL__TIMEOUTS__WAIT__SECS=1000
PG__POOL__TIMEOUTS__WAIT__NANOS=0
PG__POOL__TIMEOUTS__CREATE__SECS=60
PG__POOL__TIMEOUTS__CREATE__NANOS=0
PG__POOL__TIMEOUTS__RECYCLE__SECS=60
PG__POOL__TIMEOUTS__RECYCLE__NANOS=0

IAM_ROLE=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

BUCKET_NAME=
BUCKET_FOLDER=
SECONDS_UNTIL_WAL_SWITCH=600
# 10 Gb
MAX_BYTES_UNTIL_WAL_SWITCH=10000000000
OUTPUT_WAL_DIRECTORY=
SECONDS_UNTIL_END_OF_EXPONENTIAL_BACKOFF=600

RUST_LOG=info
PG_RECVLOGICAL_PATH=/usr/lib/postgresql/10/bin/pg_recvlogical
SOURCE_CONNECTION_STRING=
REPLICATION_SLOT=re_dms
# comma separated e.g. TABLE_BLACKLIST="public.schema_migrations,public.ar_internal_metadata,some_other_schema.foobars"
TABLE_BLACKLIST=
# comma separated e.g. SCHEMA_BLACKLIST="public"
SCHEMA_BLACKLIST=
TARGET_SCHEMA_NAME=

# optional
SENTRY_DSN=

# 30 minutes, and should be less than what is set for SECONDS_UNTIL_END_OF_EXPONENTIAL_BACKOFF
CLIENT_SIDE_DB_QUERY_TIMEOUT_IN_SECONDS=1800

# A regexp you can set that will be used to replace partition suffix values from target table names
# For example, this regexp: _p\d{4}w\d{1,2}\z would transform this source table name: webhooks_incoming_webhooks_p2024w30 to webhooks_incoming_webhooks in the target db
PARTITION_SUFFIX_REGEXP=
