[Unit]
Description=re_dms service

[Service]
User=re_dms
Group=re_dms
EnvironmentFile=/etc/re_dms.conf
ExecStart=/usr/local/bin/re_dms
TimeoutStopSec=1200
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target