# PG__* ENVS define connection details for the target db
PG__HOST=
PG__USER=
PG__PASSWORD=
PG__PORT=5439
PG__DBNAME=
PG__POOL__MAX_SIZE=25
PG__POOL__TIMEOUTS__WAIT__SECS=1000
PG__POOL__TIMEOUTS__WAIT__NANOS=0
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
BUCKET_FOLDER=
SECONDS_UNTIL_WAL_SWITCH=600
MAX_BYTES_UNTIL_WAL_SWITCH=1000000000
OUTPUT_WAL_DIRECTORY=
SECONDS_UNTIL_END_OF_EXPONENTIAL_BACKOFF=600
RUST_LOG=info
PG_RECVLOGICAL_PATH=/usr/lib/postgresql/10/bin/pg_recvlogical
SOURCE_CONNECTION_STRING=
REPLICATION_SLOT=re_dms
# comma separated e.g. TABLE_BLACKLIST="public.schema_migrations,public.ar_internal_metadata,some_other_schema.foobars"
TABLE_BLACKLIST=
TARGET_SCHEMA_NAME=

# optional
ROLLBAR_ACCESS_TOKEN=
