[Unit]
Description=re_dms service
BindsTo=re_dms.socket
After=re_dms.socket
PartOf=replication.target
StartLimitBurst=1

[Service]
User=re_dms
Group=re_dms
EnvironmentFile=/etc/re_dms.conf
Sockets=re_dms.socket
StandardInput=fd:re_dms.socket
StandardOutput=journal
StandardError=journal
Restart=no
ExecStart=/usr/local/bin/re_dms

[Install]
WantedBy=multi-user.target